.button-action {
  border-radius: 0.25rem;
  background-color: var(--blue-500);
  color: var(--white);
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.button-action:hover {
  background-color: var(--blue-600);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.form-container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  width: 100%;
}

.form-error-text {
  padding-top: 0.25rem;
  color: var(--error);
}

.form-input {
  padding: 0.25rem 0.5rem;
  border: 1px solid #6b7280;
  border-radius: 0.25rem;
  font: var(--font-text-lg);
  width: 100%;
}

.form-text {
  color: var(--grey-700);
  font: var(--font-text-sm);
}

.input-margin {
  margin-top: 0.25rem;
}

.link {
  color: var(--blue-500);
  text-decoration: underline;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.sub-text {
  color: var(--grey-500);
  font: var(--font-text-sm);
  text-align: center;
}
