.button-action {
  border-radius: 4px;
  background-color: var(--blue-500);
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--white);
  font: var(--font-text-xl);
}

.button-action:hover {
  background-color: var(--blue-600);
}

.button-action:focus {
  background-color: var(--blue-400);
}

.form-text {
  color: var(--grey-700);
  font: var(--font-text-sm);
}

.link {
  color: var(--blue-500);
  text-decoration: underline;
}

.sub-text {
  color: var(--grey-500);
  font: var(--font-text-sm);
}
