:root {
  --black: #000000;

  --blue-600: #2563eb;
  --blue-500: #3b82f6;
  --blue-100: #dbeafe;

  --grey-50: #f9fafb;
  --grey-300: #d1d5db;
  --grey-500: #6b7280;
  --grey-700: #374151;
  --grey-900: #111827;

  --red-700: #b91c1c;

  --slate-800: #1e293b;
  --slate-600: #475569;

  --white: #ffffff;

  --yellow-50: #fefce8;
  --yellow-500: #eab208;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;

  --font-family: "ui-sans-serif";
}
