:root {
  --slate-800: #1e293b;
  --slate-600: #475569;

  --blue-600:#2563eb;
  --blue-500:#3b82f6;
  --blue-100: #dbeafe;

  --red-700: #b91c1c;

  --white: #ffffff;
  --grey-50:#f9fafb;
  --black: #000000;

  --font-family: 'ui-sans-serif';

}